*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.map{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: grey;
}
.project-information h3{
	border-bottom: solid 1px #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;

}